nav a {
    display: inline-block;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 5px ;
    text-decoration: none;
    color: black;
    background-color: aqua;
    
}

a:hover{
    background-color: brown;
}