table, th, td {
  border:1px solid black;
}

h1{
  background-color: rgb(17, 255, 0);
  color: blue;
  font-size: 60px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 30px auto;
  padding: 15px 10px;
  border: 3px solid black ;
  border-radius: 20px;
width: 700px;
  height: 100px;
  
}

p{
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
.title{
  color: red;
}

.subtitle{
  color: black;
}
#about{
  background-color: cadetblue;
}

*{
  box-sizing: border-box;
}

nav a{
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid black;
  margin: 5px;
 color: black; 
 text-decoration: none;
 border-radius: 8px;
 background-color: aqua;
 font-weight: bold;
 transition: 0.5s;
 
}

nav a:hover {
    background-color: rgb(148, 29, 29);
    color: white;
}

nav{
  text-align: center;
  margin: 20px 2px ;
  
}

